{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="form-container">
        <h1>Editar Responsável Educativo</h1>
        <form method="post" id="form">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
        <div class="actions">
            <button type="submit" form="form">Salvar</button>
            <a href="{% url 'show_contactos' %}">Cancelar</a>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/forms.js' %}"></script>
{% endblock %}