{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/financas.css' %}">
{% endblock %}

{% block content %}

    <h1>Pagamentos</h1>
    <form method="POST" action="">
        {% csrf_token %}

        <select name="aluno" id="select_aluno">
            {% for aluno in alunos %}
            <option value="{{ aluno.aluno_id }}" {% if valoresDosFiltros.aluno == aluno.aluno_id %}selected{% endif %}>
                {{ aluno.nome_proprio }} {{ aluno.apelido }}
            </option>
            {% endfor %}
        </select>

        <select name="pagamentoOpcao" id="select_mensalidade_comparticao">
            <option value="mensalidade" {% if valoresDosFiltros.pagamentoOpcao == "mensalidade" %}selected{% endif %}> Mensalidade </option>
            <option value="comparticao" {% if valoresDosFiltros.pagamentoOpcao == "comparticao" %}selected{% endif %}> Comparticão </option>
        </select>

        <select name="mes" id="select_mes">
            {% for mes in meses %}
            <option value="{{ mes }}" {% if valoresDosFiltros.mes == mes %}selected{% endif %}> {{ mes }} </option>
            {% endfor %}
        </select>

        <select name="ano" id="select_ano">
            {% for ano in anos %}
            <option value="{{ ano }}" {% if valoresDosFiltros.ano == ano %}selected{% endif %}> {{ ano }} </option>
            {% endfor %}
        </select>

        <input type="number" step="0.01" name="valorPagamento" id="valorPagamento", value="{{ valoresDosFiltros.valorPagamento }}">

        <button type="submit">Registar pagamento</button>

    </form>
    {% if mensagem %}
    <h1>{{ mensagem }}</h1>

    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Valor a Pagar</th>
            <th>Valor Pago</th>
        </tr>
        </thead>
        <tbody>
        {% if item %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{ item.valorAPagar }}</td>
            <td>{{ item.valorPago }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">Sem registo</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    {% endif %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/financas.js' %}"></script>
{% endblock %}