{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>

    <div class="form-container">
        <h1>Inserir Responsável Educativo</h1>
        <form method='post' id="form">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
        <div class="actions">
            <button type='submit' form="form" onclick="validateForm()">Inserir</button>
            <a href="{% url 'starter_page' %}">Voltar</a>
        </div>
    </div>

    <script src="{% static 'js/forms.js' %}"></script>
</body>
{% endblock %}
