<table>
    <tr>
        <th>Inserir</th>
        <th>Ver id1</th>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_aluno_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Aluno</a></center></td>
        <td><center><a href="{% url 'aluno_view' aluno_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Aluno com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_responsavel_educativo_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Responsavel Educativo</a></center></td>
        <td><center><a href="{% url 'responsavel_educativo_view' responsavel_educativo_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Responsavel Educativo com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_aluno_saida_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Aluno Saida</a></center></td>
        <td><center><a href="{% url 'aluno_saida_view' aluno_saida_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Aluno Saida com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_vacinacao_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Vacinacao</a></center></td>
        <td><center><a href="{% url 'vacinacao_view' vacinacao_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Vacinacao com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_despesa_fixa_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Despesa Fixa</a></center></td>
        <td><center><a href="{% url 'despesa_fixa_view' despesa_fixa_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Despesa Fixa com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_despesas_variavel_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Despesas Variavel</a></center></td>
        <td><center><a href="{% url 'despesas_variavel_view' despesas_variavel_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Despesas Variavel com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_salario_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Salario</a></center></td>
        <td><center><a href="{% url 'salario_view' salario_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Salario com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_link_filiacao_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Link Filiacao</a></center></td>
        <td><center><a href="{% url 'link_filiacao_view' link_filiacao_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Link Filiacao com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_sala_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Sala</a></center></td>
        <td><center><a href="{% url 'sala_view' sala_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Sala com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_mensalidade_aluno_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Mensalidade Aluno</a></center></td>
        <td><center><a href="{% url 'mensalidade_aluno_view' mensalidade_aluno_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Mensalidade Aluno com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_aluno_financas_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Aluno Financas</a></center></td>
        <td><center><a href="{% url 'aluno_financas_view' aluno_financas_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Aluno Financas com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_aluno_finacas_calc_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Aluno Finacas Calc</a></center></td>
        <td><center><a href="{% url 'aluno_finacas_calc_view' aluno_finacas_calc_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Aluno Finacas Calc com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_funcionario_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Funcionario</a></center></td>
        <td><center><a href="{% url 'funcionario_view' funcionario_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Funcionario com id 1</a></center></td>
    </tr>
</table>
{%block links%}
{%endblock%}
<table>
    <tr>
        <th>Inserir</th>
        <th>Ver id1</th>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_aluno_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Aluno</a></center></td>
        <td><center><a href="{% url 'aluno_view' aluno_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Aluno com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_responsavel_educativo_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Responsavel Educativo</a></center></td>
        <td><center><a href="{% url 'responsavel_educativo_view' responsavel_educativo_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Responsavel Educativo com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_aluno_saida_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Aluno Saida</a></center></td>
        <td><center><a href="{% url 'aluno_saida_view' aluno_saida_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Aluno Saida com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_vacinacao_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Vacinacao</a></center></td>
        <td><center><a href="{% url 'vacinacao_view' vacinacao_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Vacinacao com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_despesa_fixa_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Despesa Fixa</a></center></td>
        <td><center><a href="{% url 'despesa_fixa_view' despesa_fixa_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Despesa Fixa com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_despesas_variavel_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Despesas Variavel</a></center></td>
        <td><center><a href="{% url 'despesas_variavel_view' despesas_variavel_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Despesas Variavel com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_salario_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Salario</a></center></td>
        <td><center><a href="{% url 'salario_view' salario_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Salario com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_link_filiacao_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Link Filiacao</a></center></td>
        <td><center><a href="{% url 'link_filiacao_view' link_filiacao_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Link Filiacao com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_sala_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Sala</a></center></td>
        <td><center><a href="{% url 'sala_view' sala_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Sala com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_mensalidade_aluno_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Mensalidade Aluno</a></center></td>
        <td><center><a href="{% url 'mensalidade_aluno_view' mensalidade_aluno_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Mensalidade Aluno com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_aluno_financas_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Aluno Financas</a></center></td>
        <td><center><a href="{% url 'aluno_financas_view' aluno_financas_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Aluno Financas com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_aluno_finacas_calc_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Aluno Finacas Calc</a></center></td>
        <td><center><a href="{% url 'aluno_finacas_calc_view' aluno_finacas_calc_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Aluno Finacas Calc com id 1</a></center></td>
    </tr>
    <tr>
        <td><center><a href="{% url 'insert_funcionario_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Funcionario</a></center></td>
        <td><center><a href="{% url 'funcionario_view' funcionario_id=1 %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px;width: 75%; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Ver Funcionario com id 1</a></center></td>
    </tr>
</table>
