{% block links %}
    <h1>Links:</h1>
    <a href="{% url 'insert_aluno_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Aluno</a><br>
    <a href="{% url 'insert_responsavel_educativo_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Responsavel Educativo</a><br>
    <a href="{% url 'insert_aluno_saida_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Aluno Saida</a><br>
    <a href="{% url 'insert_vacinacao_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Vacinacao</a><br>
    <a href="{% url 'insert_despesa_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Despesa</a><br>
    <a href="{% url 'insert_salario_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Salario</a><br>
    <a href="{% url 'insert_filiacao_view' %}" style="display: inline-block; margin-top: 10px; padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Inserir Filiacao</a><br>
{% endblock %}
