<head>
    <style>
        .search{
            display: inline-block;
            margin-top: 10px;
            padding: 10px 15px;
            width: 75%;
            color: black;
            text-decoration: none;
            border-radius: 5px;"
            height: 100;
        }

        .search:hover {
            background-color: rgb(89, 1, 148);
            color: white;
        }
    </style>
<table style="width: 100%; height: 20%; overflow-x: auto; border-collapse: collapse;">
    <tr>
        <td><center><a href="{% url 'index' %}" class='search'>Inicio</a></center></td>
        <td><center><a href="{% url 'show_alunos' %}" class='search'>Alunos</a></center></td>
        <td><center><a href="{% url 'show_responsaveis_educativos' %}" class='search'>Responsavel educativo</a></center></td>
        <td><center><a href="{% url 'show_vacinas' %}" class='search'>Vacinas</a></center></td>
    </tr>
    <tr>
        <td><a href="{% url 'export_csv' model=model %}" class="search"><center>Backup</center></a></td>
        <td><a href="{% url 'export_json' model=model %}" class="search"><center>Json</center></a></td>
    </tr>
</table>
<div style="margin-top: 20px; height: 70%; overflow-y: auto;">
    {% block links %}
    {% endblock %}
</div>