{% extends "base.html" %}


{% block title %}Alunos{% endblock %}

{% block content %}
<h1>Alunos</h1>

<!-- Filter Form -->
<form method="GET" action="{% url 'show_students' %}">
    <input type="text" name="q" placeholder="Pesquisar alunos..." value="{{ query }}">
    <button type="submit">Buscar</button>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Nome Proprio</th>
        <th>Apelido</th>
        <th>Processo</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ item.aluno_id }}</td>
        <td>{{ item.nome_proprio }}</td>
        <td>{{ item.apelido }}</td>
        <td>{{ item.processo }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'insert_student' %}">Inserir aluno</a>
{% endblock %}