{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

    <h1>Despesas</h1>

    <form method="get">
        <label for="start_date">Data Inicial:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">

        <label for="end_date">Data Final:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">

        <button type="submit">Filtrar</button>
    </form>


    <table>
        <thead>
            <tr>
                {% for item in head %}
                <th>
                    {{ item|replace:"_, " }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in data_dict %}
            <tr>
                {% for field in head %}
                <td>
                    {% if item|get_item:field == None %}
                    <hr>
                    {% else %}
                    {{ item|get_item:field }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}