{% extends 'base.html' %}

{% block content %}
<h1>Detalhes do Aluno</h1>
<h2>Informações do Aluno</h2>
<table>
    <tr>
        <th>Nome:</th>
        <td>{{ aluno.nome_proprio }} {{ aluno.apelido }}</td>
    </tr>
    <tr>
        <th>Processo:</th>
        <td>{{ aluno.processo }}</td>
    </tr>
    <tr>
        <th>Data de Admissão:</th>
        <td>{{ aluno.data_admissao }}</td>
    </tr>
    <!-- Add more fields as needed -->
</table>
<a href="{% url 'edit_student' aluno_id=aluno.aluno_id %}">Editar Aluno</a>




{% if aluno.responsaveis_educativos_ids %}
<h2>Responsáveis Educativos</h2>
{% for guardian in aluno.responsaveis_educativos_ids.all %}
<table>
    <tr>
        <th>Nome:</th>
        <td>{{ guardian.nome_proprio }} {{ aluno.responsavel_educativo_id.apelido }}</td>
    </tr>
    <tr>
        <th>Telefone:</th>
        <td>{{ guardian.telefone }}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{ guardian.email }}</td>
    </tr>
</table>
<a href="{% url 'edit_responsavel_educativo' responsavel_id=guardian.responsavel_educativo_id %}">Editar Responsável</a>
{% endfor %}
{% else %}
<p>Sem responsável educativo associado.</p>
{% endif %}




{% if aluno.sala_id %}
<h2>Sala</h2>
<table>

    <tr>
        <th>Nome:</th>
        <td>{{ aluno.sala_id.sala_nome }}</td>
    </tr>
    <tr>
        <th>Valência:</th>
        <td>{{ aluno.sala_id.sala_valencia }}</td>
    </tr>

</table>
{% else %}
<p>Sem sala associada.</p>
{% endif %}




<a href="{% url 'show_students' %}">Voltar</a>
{% endblock %}