{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Detalhes do Responsável Educativo</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>




<body>
    <h1>{{ guardian.responsavel_educativo_id }}: {{ guardian.nome_proprio }} {{ guardian.apelido }}</h1>

    <table>
        <tr>
            <th>Data de Nascimento:</th>
            <td>{{ guardian.data_nascimento }}</td>
        </tr>
        <tr>
            <th>Documento:</th>
            <td>{{ guardian.documento }}</td>
        </tr>
        <tr>
            <th>Número do Documento:</th>
            <td>{{ guardian.numero_documento }}</td>
        </tr>
        <tr>
            <th>Data de Validade:</th>
            <td>{{ guardian.data_validade }}</td>
        </tr>
        <tr>
            <th>Telefone:</th>
            <td>{{ guardian.telefone }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ guardian.email }}</td>
        </tr>
        <tr>
            <th>Morada:</th>
            <td>{{ guardian.morada }}</td>
        </tr>
        <tr>
            <th>Código Postal:</th>
            <td>{{ guardian.codigo_postal }}</td>
        </tr>
        <tr>
            <th>Concelho:</th>
            <td>{{ guardian.concelho }}</td>
        </tr>
        <tr>
            <th>Freguesia:</th>
            <td>{{ guardian.fregesia }}</td>
        </tr>
        <tr>
            <th>Profissão:</th>
            <td>{{ guardian.profissao }}</td>
        </tr>
        <tr>
            <th>Morada do Emprego:</th>
            <td>{{ guardian.morada_emprego }}</td>
        </tr>
        <tr>
            <th>Horário de Trabalho:</th>
            <td>{{ guardian.horario_trabalho }}</td>
        </tr>
        <tr>
            <th>Niss:</th>
            <td>{{ guardian.niss}}</td>
        </tr>
        <tr>
            <th>Nif:</th>
            <td>{{ guardian.nif }}</td>
        </tr>
        <tr>
            <th>Alunos:</th>
            {% for aluno in guardian.aluno_set.all %}
            <td>{{ aluno.nome_proprio }} {{ aluno.apelido }}</td>
            {% endfor %}
        </tr>

    </table>




    <!-- Button to edit the information -->
    <div style="margin-top: 20px;">
        <a href="{% url 'edit_responsavel_educativo' responsavel_id=guardian.responsavel_educativo_id %}"
            style="padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Editar
            Informações</a>
    </div>

    <a href="{% url 'show_contactos' %}" style="margin-top: 10px; display: inline-block;">Voltar</a>
</body>

</html>
{% endblock %}