{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Detalhes do Responsável Educativo</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>




<body>
    <h1>{{ guardian.responsavel_educativo_id }}: {{ guardian.nome_proprio }} {{ guardian.apelido }}</h1>

    <table>
        <tr>
            <th>Data de Nascimento:</th>
            <td>{% if guardian.data_nascimento %}{{ guardian.data_nascimento }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Documento:</th>
            <td>{% if guardian.documento %}{{ guardian.documento }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Número do Documento:</th>
            <td>{% if guardian.numero_documento %}{{ guardian.numero_documento }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Data de Validade:</th>
            <td>{% if guardian.data_validade %}{{ guardian.data_validade }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Telefone:</th>
            <td>{% if guardian.telefone %}{{ guardian.telefone }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{% if guardian.email %}{{ guardian.email }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Morada:</th>
            <td>{% if guardian.morada %}{{ guardian.morada }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Código Postal:</th>
            <td>{% if guardian.codigo_postal %}{{ guardian.codigo_postal }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Concelho:</th>
            <td>{% if guardian.concelho %}{{ guardian.concelho }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Freguesia:</th>
            <td>{% if guardian.fregesia %}{{ guardian.fregesia }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Profissão:</th>
            <td>{% if guardian.profissao %}{{ guardian.profissao }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Morada do Emprego:</th>
            <td>{% if guardian.morada_emprego %}{{ guardian.morada_emprego }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Horário de Trabalho:</th>
            <td>{% if guardian.horario_trabalho %}{{ guardian.horario_trabalho }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Niss:</th>
            <td>{% if guardian.niss %}{{ guardian.niss }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Nif:</th>
            <td>{% if guardian.nif %}{{ guardian.nif }}{% else %}Nenhum dado{% endif %}</td>
        </tr>
        <tr>
            <th>Alunos:</th>
            <td>
                {% if guardian.alunos.all %}
                {% for aluno in guardian.alunos.all %}
                {{ aluno.nome_proprio }} {{ aluno.apelido }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% else %}
                Nenhum dado
                {% endif %}
            </td>
        </tr>
    </table>




    <!-- Button to edit the information -->
    <div style="margin-top: 20px;">
        <a href="{% url 'edit_responsavel_educativo' responsavel_id=guardian.responsavel_educativo_id %}"
            style="padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Editar
            Informações</a>
    </div>

    <a href="{% url 'show_contactos' %}" style="margin-top: 10px; display: inline-block;">Voltar</a>
</body>

</html>
{% endblock %}