{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

<h1>Alunos</h1>

<!-- Add Student Button -->
<div>
    <a href="{% url 'insert_aluno_view' %}">Adicionar Aluno</a>
</div>




<!-- Filter Form -->
<form method="GET" action="{% url 'show_students' %}">

    <input type="text" name="q" placeholder="Pesquisar alunos..." value="{{ filtersValue.name }}">


    <select name="sala">

        <option value="" {% if filtersValue.sala == "" %} selected {% endif %}> Todas as salas </option>


        {% for sala in salas %}
        <option value="{{ sala.sala_nome }}" {% if filtersValue.sala == sala.sala_nome %} selected {% endif %}> {{ sala.sala_nome }} </option>
        {% endfor %}

    </select>

    <label> Alumni </label>
    <input type="checkbox" name="alumni" value="true" {% if filtersValue.alumni == True %} checked {% endif %}>


    <button type="submit">Filtrar</button>
</form>




<!-- Students -->
<p>Total de alunos: {{ alunoCount }}</p>
<table>

    <thead>

        <tr>

            <th>
                Aluno Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Processo
            </th>
            <th>
                Numero Documento
            </th>
            <th>
                Data Admissao
            </th>
            <th>
                Sala valencia
            </th>
            <th>
                Sala
            </th>

            <th>Detalhes</th>

        </tr>

    </thead>


    <tbody>
        {% for aluno in alunos %}
        <tr>

            <td>
                {{ aluno.aluno_id }}
            </td>
            <td>
                {{ aluno.nome_proprio }} {{ aluno.apelido }}
            </td>
            <td>
                {% if aluno.processo %}{{ aluno.processo }}{% else %}Nenhum dado{% endif %}
            </td>
            <td>
                {{ aluno.numero_documento }}
            </td>
            <td>
                {{ aluno.data_admissao|date:"d/m/Y" }}
            </td>
            <td>
                {{ aluno.sala_id__sala_valencia}}
            </td>
            <td>
                {{ aluno.sala_id__sala_nome }}
            </td>

            <td>
                <a href="{% url 'aluno_view' aluno_id=aluno.aluno_id %}">Ver detalhes</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}