{% load custom_filters %}

<h1>Alunos</h1>
<table style="width: 100%; border-collapse: collapse; text-align: left; font-family: Arial, sans-serif;">
    <tr style="background-color: #f2f2f2;">
        {% for item in head %}
            {% if item != id %}
            <th style="border: 1px solid #ddd; padding: 10px;">{{ item|replace:"_, " }}</th>
            {% endif %}
        {% endfor %}
        <th style="border: 1px solid #ddd; padding: 10px;">Detalhes</th>
    </tr>
    {% for item in data_dict %}
    <tr style="background-color: {% cycle '#ffffff' '#f9f9f9' %};">
        {% for field in head %}
            {% if field != id %}
            {%if item|get_item:field == None%}
                        <td>
                            <hr style="border: none; border-top: 2px dashed black;">
                        </td>
                    {% else %}
                        <td>{{ item|get_item:field }}</td>
                    {% endif %}
            {% endif %}
        {% endfor %}
        <td>
            <a href="{% url 'show_aluno_view' aluno_id=item.aluno_id %}">Ver detalhes</a>
        </td>
    </tr>
    {% endfor %}
</table>


{% include 'links.html' %}
{%block "links"%}
{%endblock%}
