{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/financas.css' %}">
{% endblock %}

{% block content %}

    <h1>Tabela Alunos Finanças</h1>

    <div>
        <table>
            <thead>
                <tr>
                    {% for item in head_financas %}
                        {% if item != id %}
                            <th>
                            {{ item|replace:"_, " }}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data_financas %}
                <tr>
                    {% for field in head_financas %}
                        {% if field != id %}
                        <td>
                            {% if item|get_item:field == None %}
                                <hr>
                            {% else %}
                                {{ item|get_item:field }}
                            {% endif %}
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <h1>Tabela Mensalidade Alunos</h1>

    <section id="mensalidadesFilt">

        <form method="get" id="filter-form">
            <label>Nome:</label>
            <input type="text" name="nome" id="input_nome" placeholder="Ex: nuno matos" value="{{ filtersValue.nome }}">

            <label>Sala:</label>
            <select name="sala" id="select_sala">
                <option value="" {% if filtersValue.sala == "" %} selected {% endif %}> Todas as salas </option>

                {% for sala in data_salas %}
                <option value="{{ sala.sala_nome }}" {% if filtersValue.sala == sala.sala_nome %} selected {% endif %}>
                    {{ sala.sala_nome }}
                </option>
                {% endfor %}
            </select>

            <label>Mês:</label>
            <select name="mes" id="select_mes">
                <option value="" {% if filtersValue.mes == None %} selected {% endif %}>Todos os meses</option>
                {% for m in meses_range %}
                <option value="{{ m }}" {% if filtersValue.mes == m %} selected {% endif %}>
                    {{ m }}
                </option>
                {% endfor %}
            </select>


            <label>Ano:</label>
            <select name="ano" id="select_ano">
                <option value="" {% if filtersValue.ano == None %} selected {% endif %}>Todos os anos</option>
                {% for a in anos_range %}
                <option value="{{ a }}" {% if filtersValue.ano == a %} selected {% endif %}>
                    {{ a }}
                </option>
                {% endfor %}
            </select>

            <button type="submit">Filtrar</button>
        </form>


        <form method="post" id="calc-form">
            {% csrf_token %}

            <input type="hidden" name="filter_nome" id="hidden_nome">
            <input type="hidden" name="filter_sala" id="hidden_sala">
            <input type="hidden" name="filter_mes" id="hidden_mes">
            <input type="hidden" name="filter_ano" id="hidden_ano">

            <button type="submit" name="mensalidadeFinal" value="true" onclick="return syncAndConfirm()">
                Calcular Mensalidades
            </button>

            {% if messages %}
            <div id="message-container">
                {% for message in messages %}
                <div class="alert-box {{ message.tags }}">
                    {{ message }}
                    <span onclick="this.parentElement.style.display='none'" class="close-btn">&times;</span>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </form>

    </section>

    <div>
        <table>
            <thead>
                <tr>
                {% for item in head_mensalidade %}
                    {% if item != id %}
                        <th>
                        {{ item|replace:"_, " }}
                        </th>
                    {% endif %}
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data_mensalidade %}
                    <tr>
                        {% for field in head_mensalidade %}
                            {% if field != id %}
                            <td>
                                {% if item|get_item:field == None %}
                                    <hr>
                                    {% else %}
                                        {% if field == 'Valor_a_pagar' or field == 'Valor_pago' %}
                                            {{ item|get_item:field|floatformat:2 }}
                                    {% else %}
                                        {{ item|get_item:field }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/financas.js' %}"></script>
{% endblock %}