{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

<h1>Salas</h1>
<!-- Adicionar sala -->
<div>
    <a href="{% url 'insert_sala_view' %}">Adicionar Sala</a>
</div>

<!-- Filter Form -->
<form method="GET">
    <label for="valencia">Valência:</label>
    <select name="valencia" id="valencia">
        <option value="">Todas as Valências</option>
        {% for valencia in valoresFiltros.valencias %}
        <option value="{{ valencia }}" {% if valencia == query_valencia %}selected{% endif %}>
            {{ valencia }}
        </option>
        {% endfor %}
    </select>


    <label for="room">Sala:</label>
    <select name="room" id="room">
        <option value="">Todas as Salas</option>
        {% for room in valoresFiltros.salas_nomes %}
        <option value="{{ room }}" {% if room == query_room %}selected{% endif %}>
            {{ room }}
        </option>
        {% endfor %}
    </select>

    <button type="submit">Filtrar</button>
</form>




<!-- Listar salas -->
<h2>Lista de Salas</h2>
<table>
    <thead>

        <tr>
            <th>
                Valência
            </th>

            <th>
                Sala
            </th>

            <th>
                Editar sala
            </th>
        </tr>

    </thead>


    <tbody>

        {% for sala in salas %}
        <tr>
            <td>
                {{ sala.sala_valencia }}
            </td>

            <td>
                {{ sala.sala_nome }}
            </td>

            <td>
                <a href="{% url 'edit_sala' sala_id=sala.sala_id %}">Editar Sala</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}