{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

    <h1>Contactos</h1>




    <!-- Add Responsavel Educativo Button -->
    <div>
        <a href="{% url 'insert_responsavel_educativo_view' %}">Adicionar Responsável Educativo</a>
    </div>




    <!-- Filter Form -->
    <form method="GET" action="{% url 'show_contactos' %}">
        <input type="text" name="q" placeholder="Pesquisar encarregados de educação..." value="{{ filtersValue.name }}">


        <button type="submit">Buscar</button>
    </form>




    <!-- Guardians -->
    <p>Total de encarregados de educaçao: {{ guardiansCount }}</p>
    <table>

        <thead>

        <!-- Table headers -->
        <tr>

            <th>
                Responsavel educativo id
            </th>
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                Email
            </th>
            <th>
                Alunos
            </th>


            <th>Detalhes</th>
        </tr>

        </thead>


        <tbody>
        {% for guardian in guardians %}
        <tr>

            <td>{{ guardian.responsavel_educativo_id }}</td>
            <td>{{ guardian.nome_proprio }} {{ guardian.apelido }}</td>
            <td>{% if guardian.telefone %}{{ guardian.telefone }}{% else %}Nenhum dado{% endif %}</td>
            <td>{% if guardian.email %}{{ guardian.email }}{% else %}Nenhum dado{% endif %}</td>

            {% if guardian.alunos.all %}
            <td>
                {% for aluno in guardian.alunos.all %}
                {{ aluno.nome_proprio }} {{aluno.apelido}}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            {% else %}
            <td>
                Nenhum dado
            </td>
            {% endif %}

            <td>
                <a href="{% url 'show_contactos_details' responsavel_id=guardian.responsavel_educativo_id %}">Ver detalhes</a>
            </td>

        </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}