{% extends "base.html" %}

{% block title %}Faz e Conta{% endblock %}

{% block content %}

<div class="starter-page">
    <div class="header">
        <h1>Faz e Conta</h1>
        <p>Bem-vindo ao sistema de gestão do jardim de infância</p>
    </div>

    <div class="menu">
        <li>Alunos: Página onde tem acesso aos alunos atuais e os seus detalhes</li>
    </div>

    <div class="footer">
        <p>&copy; 2023 Faz e Conta. Todos os direitos reservados.</p>
    </div>
</div>

{% endblock %}