{% extends "navigation.html" %}
{% load static %}

{% block title %}
  {% if title %}{{ title }} | {% endif %}{{ site_title }}
{% endblock %}


{% block style %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/dashboard.css' %}">
{% endblock %}

{% block content %}
  {{ block.super }}
{% endblock %}